ul.tree, ul.tree ul {
    list-style-type: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAKCAYAAAB10jRKAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFElEQVQImWNgYGD4z8TAwMBALAEAL8YBElOJWb4AAAAASUVORK5CYII=') repeat-y;
    margin: 0px;
    padding: 0px;
}

ul.tree ul {
    margin-left: 15px;
}

ul.tree li {
    margin: 0;
    padding: 0 12px;
    line-height: 20px;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAYAAACwG3xrAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAI0lEQVQokWNgYGD4z4AHMOGTHEEKGBkIBBQDIQWDwRdDQgEAZ58DIdD/aoYAAAAASUVORK5CYII=') no-repeat;
}

ul.tree li:last-child {
    background: #fff url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAYAAACwG3xrAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAHklEQVQokWNgYGD4z4AHMOGTHEEKGBkIBNQooBYAABc8AhDliZUzAAAAAElFTkSuQmCC') no-repeat;
}
